:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, ul, ol {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}