:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--dark-blue);
    background-color: var(--dark-cyan);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    background-image: url(../assets/images/bg-pattern-top.svg), url(../assets/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 52vw bottom 35vh, left 50vw top 50vh;
    padding: 0 16px;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.card {
    height: 374px;
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    z-index: 100;
    border-radius: 15px;
    /* So that the header background image doesn't go over border radius */
    overflow: hidden;
}

.card-header {
    height: 140px;
    background-image: url(../assets/images/bg-pattern-card.svg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;  
}


.card-header img {
    border-radius: 50%;
    position: absolute;
    border: 5px solid white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
}

.personal-information {
    height: 145px;
    border-bottom: 1px solid #E7E7E7;
    padding-top: 70px;
    text-align: center;
}

.name {
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 1.125rem;
}

.number {
    font-weight: 700;
}

.age {
    color: var(--dark-gray-blue);
    font-weight: 400;
    padding-left: 10px;
}

.location {
    font-size: 14px;
    padding-bottom: 26px;
    color: var(--dark-gray-blue);
}

.card-stats {
    height: 87px;
    padding: 0 50px;
    margin: auto 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
}

.card-stats dd {
    font-weight: 700;
}

.card-stats dt {
    color: var(--dark-gray-blue);
    font-size: 10px;
    letter-spacing: 1px;
}

.stats {
    width: 60px;
}